*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color:#FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    
    background-color:#C0392B ;
    width: 1920px;
    height: 62px;
}

.web{
    color: #FFFFFF;
    display: flex;
    padding:15px 0 ;
    width: 1100px;
    height: 32px;
    justify-content: space-around;
}

.list-link{
    text-decoration: none;
    color: #FFFFFF;
}

.main{
    display: flex;
    flex-direction: column;
    margin:60px 0;
    width: 1920px;
    align-items: center;
}

.banner{
    display: flex;
    flex-direction: row;
    width: 369.38px;
    justify-content: space-around;
}


